body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
}

h1 {
  margin-bottom: 18px;
}

body,
.snake {
  background-color: #615eff;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 25px);
  grid-template-rows: repeat(20, 25px);
  margin: 5px;
}

.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
}

#instruction-text {
  /* position: absolute;
  top: 60%; */
  color: white;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.scores {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #d8ddca;
}

.game-border-3,
#logo {
  background-color: #c4cfa3;
}

.source {
  background-color: white;
  border-radius: 50%;
  background-size: contain;
  border: 2px solid white;
}
.source.hubspot {
  background-image: url("./images/hubspot.png");
}

.source.github {
  background-image: url("./images/github.png");
}

.source.salesforce {
  background-image: url("./images/salesforce.png");
}

.source.slack {
  background-image: url("./images/slack.png");
}

.source.bigquery {
  background-image: url("./images/bigquery.png");
}

.source.snowflake {
  background-image: url("./images/snowflake.png");
}

.source.s3 {
  background-image: url("./images/s3.png");
}

.source.postgres {
  background-image: url("./images/postgres.png");
  background-size: cover;
}

.source.redshift {
  background-image: url("./images/redshift.png");
}

.bug {
  background-image: url("./images/bug.png");
  border-radius: 50%;
  background-size: contain;
  border: 2px solid red;
}

#logo {
  position: absolute;
}

.popup input {
  padding: 10px;
}

.btn {
  padding: 10px;
  margin-right: 10px;
  background-color: #615eff;
  color: white;
  border: none;
  cursor: pointer;
}

.input-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

#wrapper {
  height: 100vh;
  margin-bottom: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-border-1 {
  position: relative;
}
#instruction {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

#welcome {
  font-family: "VT323", monospace;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-top: 50px;
}

#score-board {
  background-color: whitesmoke;
  padding: 1rem;
  /* margin-top: 4rem; */
  /* margin-bottom: 50px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
}

#score-board th {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.5rem;
}

.score-board-item {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

#score-board-text {
  font-family: "VT323", monospace;
  text-align: center;
  color: #000;
  font-size: 2rem;
  margin: 0px 0px 20px 0px;
  text-decoration: underline;
}

/* Flipper setup for rotation */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* Setup for the front and back panel */
#front,
.back {
  backface-visibility: hidden;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* height: 100%; */
}

/* Positioning the back panel */
.back {
  transform: rotateY(180deg);
  position: absolute;
  width: 600px;
}

/* Define the flip effect on hover */
.flip-container.scoreboard .flipper {
  transform: rotateY(180deg);
}

.flip-container .flipper {
  transform: rotateY(0deg);
}

.btn.flip {
  background-color: white;
  color: #615eff;
}

.footer {
  width: 100%;
  margin-top: 25px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-social {
  padding: 10px;
}

.btn-social img {
  width: 25px;
  height: 25px;
}

#welcome-subheader {
  color: white;
  width: 100%;
  text-align: center;
}

.instruction-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.8) !important;
}

#option-two {
  max-width: 400px;
}

#header {
  color: white;
  font-size: 1.2rem;
}

.btn-group {
  display: flex;
}

#copy-icon {
  margin-top: -8px;
}

#text-icon {
  margin-top: -8px;
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    max-width: 600px;
    font-family: "VT323", monospace;
    padding: 16px;
  }

  .game-border-1 {
    border: #595f43 solid 5px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
  }

  .game-border-2 {
    border: #abb78a solid 4px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
  }

  .game-border-3 {
    border: #8b966c solid 10px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #8b966c;
  }
  #game-board {
    grid-template-columns: repeat(15, 20px);
    grid-template-rows: repeat(15, 20px);
  }

  #wrapper {
    max-width: 600px;
    height: 100vh;
  }

  #score-board {
    background-color: whitesmoke;
    padding: 1rem;
    /* margin-top: 4rem; */
    /* margin-bottom: 50px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  .back {
    transform: rotateY(180deg);
    position: absolute;
    width: 350px;
  }

  .footer {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .scores {
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: space-between;
  }
}

/* Keyboard */

.key__button {
  box-sizing: border-box;
  line-height: 40px;
  font-size: 18px;
  font-family: "VT323", monospace;
  text-align: center;
  color: #555;
  cursor: pointer;
  height: 40px;
  margin: 0px 4px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f9f9f9 0%, #d2d2d2 80%, #c0c0c0 100%);
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25),
    -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
}

.key__button:hover,
.key__button:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(2px);
}

.key__button:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
  transform: translateY(4px);
}
